
.container {
  width: 110%;
  min-height: 80vh;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
  padding: 20px;
  background: linear-gradient(to bottom, #f0f8ff 0%, #d6e6f2 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding-top: 3%;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
}

.searchWrapper {
  position: relative;
  width: 100%;
}

.searchBar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: width 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.searchBar.open {
  position: relative;
  width: 100%;
  opacity: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.faqCard {
  width: 100%;
  margin-top: 15px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.faqAnswer {
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 10px;
  }
}
