.header_main {
    min-height: 10vh;
}
.header_logo {
    text-decoration: none;
}
.header_logo_img {
    width: 100px;
    height: auto
}
.header_link { 
    text-decoration: none;
    color: var(--mui-palette-text-primary);
}