/* styles.css */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .hero__content {
    max-width: 50%;
  }
  
  .hero__content h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: #003366;
  }
  
  .hero__content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .btn {
    background-color: #005ca9;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .hero__video {
    position: relative;
    width: 100%;
    max-width: 420px;
    margin-top: 50px;
  }
  
  .hero__video iframe{
    width: 100%;
    border-radius: 10px;
  }
  
    .hero__image {
    max-width: 45%;
  }
  
  .hero__image img {
    width: 100%;
    height: 200%;
    border-radius: 10px;
  }

  
  // Section 2
  .specialties {
    padding: 60px 20px;
    background-color: white;
    text-align: center;
  }
  
  .specialties .subtext {
    max-width: 1000px;
    margin: 0 auto 20px auto;
  }
  
//   .grid {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // larger cards
//  gap: 0px;
//     margin-top: 40px;
//   }
  
//   .card {
//     background: linear-gradient(to top, #e0f1f9, #ffffff); // default gradient
//     padding: 30px;
//     min-height: 300px; // bigger height
//     width: 365px;
//     text-align: left;
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     color: #143151;
//   }
  

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 0px;
  }
  
  .card {
    background: linear-gradient(to top, #e0f1f9, #ffffff);
    padding: 20px;
    min-height: 300px; // bigger height
    width: 365px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
  }
  .circleIcon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 22px;
    margin-bottom: 12px;
    color: #143151;
  }
  

  .cardTitle {
    margin-bottom: 8px;
    color: #333;
  }
  
  .cardText {
    font-size: 14px;
    color: #666;
  }
  
  .subtext {
    margin-top: 12px;
    margin-bottom: 32px;
    color: #555;
  }
  
  .cardAlt {
    background: #ffffff; // darker alt gradient
    color: #143151;
  }
  
  .card h5 {
    margin-bottom: 16px;
    color: #143151;
  }
  
  .cardAlt h5 {
    color: 143151;
  }
  
  .card p {
    line-height: 1.5;
    color: #143151;
  }
  .cardAlt p{
    color: #143151;
  }

  //Section3
  .testimonial {
    background: linear-gradient(to top, #005ca9, #ffffff);
    padding: 40px 20px;
    color: #003366;
    text-align: center;
  }
  
  .testimonial blockquote {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .testimonial footer p {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #fff;
  }
  
  // Section 4
  .closing {
    text-align: left;
  }
  
  .closing h2 {
    margin-bottom: 10px;
  }
  
  .closing p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #333;
  }
  