
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes skew-scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-50% - 10px));
  }
}

.animate-skew-scroll {
  animation: skew-scroll 20s linear infinite;
}

/* Add custom rainbow animation */
@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

