
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes skew-scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-50% - 10px));
  }
}

.animate-skew-scroll {
  animation: skew-scroll 20s linear infinite;
}
